@import '../../sass/app.scss';

.landing {
    margin-top: $gap-12;
    display: flex;
    flex-direction: column;

    img {
        height: 108px;
        width: 111px;
        border-radius: 50px;  
        margin-top: $gap-32;
    }

    .landing_text {
        margin-top: $gap-32;

        button {
            margin-top: $gap-24;
        }
    }
}