@mixin side-padding {
    padding-left: $gap-24;
    padding-right: $gap-24;
}

@mixin no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

@mixin full-bleed {
    width: 100%;
    grid-column: 1 / 4;
}