@import '../../sass/app.scss';

.viszerale-bg {
    background-color: green;
}
.kraniosakrale-bg {
    background-color: chocolate;
}
.parietale-bg {
    background-color: blanchedalmond;
}

.hoverfield {
    display: none;
    background-color: $primary;
    color: $fontlight;
    border-radius: $border-radius-20;
    border: $secondary solid 1px;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
h2:hover + .hoverfield {
    display: block;
}
