@import '../../sass/app.scss';

.NavBar {
    @include full-bleed;
   
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;

    background-color: $primary;

    .NavBar_header {
        display: flex;
        justify-content: space-between;
        padding: $gap-12;
    }
    .NavBar_navigation {
        display: flex;
        justify-content: space-between;
        padding: $gap-12;
    }

    a {
        text-decoration: none !important;
        color: inherit; 
        // color: $fontdark;
    }
}