@import '../../sass/app.scss';

.NavBar {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    padding: $gap-12;
    padding-bottom: 0px;
  
    .NavBar_header {
        display: flex;
        justify-content: space-between;
    }
    .NavBar_navigation {
        display: flex;
        justify-content: space-between;
    }
}