@import '../../sass/app.scss';

#footer {
    background-color: $primary;
    @include full-bleed;
    margin-top: $gap-32 + $gap-32;
}

.disclaimer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
        text-decoration: none;
    }

    h4 {
        margin-left: 5px;
        margin-right: 5px;
    }
}